@import "../assets/styles/baseVariables.scss";

.heading {
    width: 70%;
    margin: 70px auto 0 auto;

    font-weight: bold;
    font-size: 3em;
    color: var(--primary-color-strong)
}

.description {
    width: 60%;
    margin: 10px auto 0 auto;

    text-align: start;
}

.fileInputContainer {
    width: 70%;
    margin: 50px auto 0 auto;
}

.sizeLimitText {
    width: 60%;
    margin: 15px auto 0 auto;

    font-size: 0.85em;
}

.recognizeBtn {
    margin: 20px auto 0 auto;
    padding: 15px 30px;
    box-sizing: border-box;

    background: var(--primary-color);
    border-radius: 15px;

    font-size: 1.4em;
    color: var(--text-color-inv);

    transition: filter 100ms;

    &:hover {
        filter: brightness(0.92);
    }

    &:active {
        transform: scale(0.98);
    }

    &:disabled {
        filter: contrast(0.5);

        &:hover {
            filter: contrast(0.5) brightness(1);
        }

        &:active {
            transform: scale(1);
        }
    }
}

.loadingCircle {
    display: block;
    width: 50px;
    margin: 20px auto 0 auto;
    color: var(--primary-color);
}

.errorMessage {
    width: 60%;
    margin: 10px auto 0 auto;

    color: #b02b2b;
}

.filesDownloadContainer {
    width: 70%;
    margin: 50px auto 0 auto;

    display: flex;
    justify-content: center;
}

.recognizedText {
    width: 70%;
    min-height: 5em;
    margin: 15px auto 30px auto;
    padding: 10px;

    text-align: start;
    overflow-wrap: break-word;

    border: solid 2px var(--text-color);
    border-radius: 8px;

    cursor: text;

    &:empty:before {
        content: "Recognized text will be here...";
        color: var(--text-color-soft);
    }
}