$border-radius: 30px;
$border-size: 3px;
$hover-transition-duration: 60ms;

.container {
    width: 100%;
}

.dropArea {
    display: block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    background: var(--primary-color-soft);
    border: solid var(--primary-color-strong) $border-size;
    border-radius: $border-radius;
    box-shadow: 10px 8px 25px -15px var(--primary-color);

    transition: filter $hover-transition-duration;

    position: relative;

    &:hover {
        filter: brightness(0.96);
    }
}

.fileInput {
    display: block;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.addFileIcon {
    display: block;
    width: 120px;
    margin: 20px auto 0 auto;
    color: var(--primary-color);

    transition: transform $hover-transition-duration;

    pointer-events: none;
}

.dropArea:hover .addFileIcon {
    transform: scale(1.03);
}

.draggingOverlay {
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;
}

.draggingOverlay:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: var(--primary-color-soft);
    filter: brightness(0.96);
    border-radius: $border-radius - $border-size;
}

.dropFileIcon {
    display: block;
    width: 140px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--primary-color);
}

.fileName {
    display: block;
    margin: 30px auto 0 auto;
}