@import "../assets/styles/baseVariables.scss";

.overlay {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;

    background: var(--background-color);
    filter: contrast(0.3);
    opacity: 0.4;
}

.popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 85vw;
    height: 85vh;
    transform: translate(-50%, -50%);
    z-index: 100;

    padding: 40px;
    box-sizing: border-box;

    background: var(--background-color);
    border: solid var(--primary-color-strong) 2px;
    border-radius: 15px;
    box-shadow: 12px 15px 25px -15px var(--primary-color);

    @media screen and (max-height: 480px), (max-width: 380px) {
        padding: 15px;
    }
}

.heading {
    width: calc(100% - 35px);
    margin: auto;

    font-size: 1.8em;
    font-weight: bold;
    color: var(--primary-color-strong);

    @media screen and (max-height: 480px), (max-width: 380px) {
        font-size: 1em;
    }
}

.imageContainer {
    margin: 30px auto 0 auto;
    width: 90%;
    height: 60%;

    position: relative;

    @media screen and (max-height: 480px), (max-width: 380px) {
        margin-top: 15px;
    }
}

.imageContainerInner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-sizing: border-box;
    border: solid var(--primary-color) 4px;
    border-radius: 6px;
    box-shadow: 12px 15px 25px -15px var(--primary-color);
}

.reactCrop {
    display: block !important;
}

.image {
    width: 100%;
    height: 100%;
    max-width: none !important;

    pointer-events: none;
}

.confirmBtnContainer {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
}

.confirmBtn {
    @media screen and (max-height: 480px), (max-width: 380px) {
        bottom: 5%;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1em;
    }
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;

    transition: transform 100ms;

    &:hover {
        transform: scale(1.07);
    }
}